// Variables
$height--hero: 629px;
$height--hero-wedge: 175px;
$font-size--hero-carousel-heading: 3.3rem;
$font-size--hero-carousel-subheading: 1.1rem;
$font-size--hero-carousel-heading--mobile: 3rem;
$font-size--hero-carousel-subheading--mobile: 1rem;
$left-offset--hero-carousel-progress: 560px;
$left-offset--hero-image--mobile: -40px;
$margin--hero-carousel: 129px auto auto 30px;
$margin--hero-carousel--tablet: 30px auto auto 30px;
$margin--hero-carousel--mobile: 15px auto 0;
$margin--hero-carousel-subheading: 38px 0 0;
$margin-top--hero-carousel-progress: 66px;
$margin--hero-carousel-progress-circle: 0 3px;
$right-offset--hero-image: -420px;
$size--hero-carousel-progress-circle: 14px;
$top-offset--hero-image: 90px;
$top-offset--hero-image--tablet: 200px;
$top-offset--hero-image--mobile: -220px;
$transition--hero-carousel-progress-circle: background 0.3s ease-in-out;

.carousel-progress {
  display: inline-block;
  left: $left-offset--hero-carousel-progress;
  margin-top: $margin-top--hero-carousel-progress;
  position: relative;

  &__circle {
    background: $background--muted;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: $size--hero-carousel-progress-circle;
    margin: $margin--hero-carousel-progress-circle;
    transition: $transition--hero-carousel-progress-circle;
    width: $size--hero-carousel-progress-circle;

    &:hover {
      background: $background--dark;
    }

    &--active {
      background: $background--primary;
    }
  }
}
@media screen and (max-width: $bp-mw--laptop) {
  .carousel-progress {
    left: 0;
  }
}
@media screen and (max-width: $bp-mw--mobile) {
  .carousel-progress {
    left: 50%;
    position: absolute;
    top: -100px;
    transform: translateX(-50%);
  }
}

.hero {
  height: $height--hero;
  position: relative;

  &__header {
    margin: 0 auto;
    max-width: $max-width--site-content;
    position: relative;
  }

  &__img {
    position: absolute;
    right: $right-offset--hero-image;
    top: $top-offset--hero-image;
    user-select: none;
    z-index: -1;
  }

  &__wedge {
    bottom: 0;
    fill: $background--primary;
    height: $height--hero-wedge;
    left: 0;
    position: absolute;
    width: 100%;
  }
}
@media screen and (max-width: $bp-mw--tablet) {
  .hero {

    &__img {
      top: $top-offset--hero-image--tablet;
    }
  }
}
@media screen and (max-width: $bp-mw--mobile) {
  .hero {

    &__img {
      left: $left-offset--hero-image--mobile;
      opacity: 0.25;
      position: relative;
      top: $top-offset--hero-image--mobile;
    }
  }
}

.hero-carousel {
  margin: $margin--hero-carousel;

  &__heading {
    font-family: $font-family--primary;
    font-weight: 200;
    font-size: $font-size--hero-carousel-heading;
    text-transform: uppercase;
  }

  &__subheading {
    color: $text--muted;
    font-family: $font-family--primary;
    font-size: $font-size--hero-carousel-subheading;
    font-weight: 600;
    margin: $margin--hero-carousel-subheading;
  }
}
@media screen and (max-width: $bp-mw--tablet) {
  .hero-carousel {
    margin: $margin--hero-carousel--tablet;
  }
}
@media screen and (max-width: $bp-mw--mobile) {
  .hero-carousel {
    margin: $margin--hero-carousel--mobile;

    &__heading {
      font-size: $font-size--hero-carousel-heading--mobile;
      text-align: center;
      margin-top: 60px;
    }

    &__subheading {
      font-size: $font-size--hero-carousel-subheading--mobile;
      text-align: center;
    }
  }
}

.section--hero {
  /*
   * Prevents horizontal scrolling across viewport widths due to
   * absolute positioning of hero image
   */
  overflow: hidden;
}
