// Variables
$height--icon-cta: 64px;
$height--services: 404px;
$padding-top--cta: 41px;
$width--cta: 220px;

.services {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: $height--services;
  margin: 0 auto;
  max-width: $max-width--site-content;
}

.service-cta {
  color: $text--light;
  display: flex;
  flex-flow: column nowrap;
  font-family: $font-family--secondary;
  padding-top: $padding-top--cta;
  text-align: center;
  width: $width--cta;

  &__heading {
    text-transform: uppercase;
    margin-bottom: 0;
  }

  &__icon {
    height: $height--icon-cta;
  }

  &__link {
    color: $link--primary;
    font-weight: bold;
  }
}

.section--services {
  background: $background--primary;
}
