// Variables
$height--icon-cta: 50px;
$height--services: 404px;
$font-size--heading-cta: 21px;
$font-size--text-cta: 16px;
$margin--heading-cta: 32px auto 0;
$margin-bottom--cta: 50px;
$padding-top--cta: 41px;
$width--cta: 220px;

.services {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  min-height: $height--services;
  margin: 0 auto;
  max-width: $max-width--site-content;
}

.service-cta {
  color: $text--light;
  display: flex;
  flex-flow: column nowrap;
  font-family: $font-family--secondary;
  margin-bottom: $margin-bottom--cta;
  padding-top: $padding-top--cta;
  text-align: center;
  width: $width--cta;

  &__heading {
    font-size: $font-size--heading-cta;
    font-weight: 400;
    text-transform: uppercase;
    margin: $margin--heading-cta;
  }

  &__text {
    font-size: $font-size--text-cta;
    line-height: 1.4rem;
    letter-spacing: 1px;
  }

  &__icon {
    align-self: center; // We need to prevent default stretching of icon as flex child
    height: $height--icon-cta;
  }

  &__link {
    color: $link--primary;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

.section--services {
  background: $background--primary;
}
