// Global colours
$background--dark: #1f2935;
$background--light: #fff;
$background--muted: #cecece;
$background--primary: #004c72;

$text--dark: #202734;
$text--light: #fff;
$text--muted: #707070;

$link--primary: #61c56d;

// Global dimensions
$max-width--site-content: 1170px;
